/** https://www.electronjs.org/docs/latest/tutorial/window-customization#set-custom-draggable-region */
* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: drag;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  line-height: 0;
}

pre {
  font-family: monospace, sans-serif;
  margin: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

/** https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  position: absolute;
  background-color: black;
  color: white;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1rem;
  word-break: break-all;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
}

.tooltip:hover .tooltiptext {
  opacity: 0.5;
}
